<%= javascript_include_tag 'manual-alert' %>

<div ng-app="bower-yarn" ng-controller="IndexController">
  
<h1>Home#index</h1>

<button ng-click="exibirAlertBower()">Angular Ngclick from yarn</button>

</div>


